*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, geneva, Tohama, sans-serif;
    max-width: 1180px;/*le colocamos el maximo de width*/
    margin: 0 auto;
    /*le colocamos un margin 0 de arriba y abajo y colocamos auto en los costados*/
}

a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;/* quitamos las viñetas a las listas*/
}

/* img{
    width: 100%; agrandamos el 100% todas las imagenes para poder centrar
} */