header{
    width: 100%;/*la caja el header cubre todo el ancho*/
}

header .logo{
    background-image: url('/images/logo.jpg');
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    border: solid 2px var(--colorGrisClaro);
    height: 180px;
    margin: 15px auto 30px; /*auto en los costados siempre centra*/
    width: 180px;
}

.header__burger{
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorGrisOscuro);
    color: white;
    border: none;
    border-radius: 5%;
    margin: 0 auto 30px;
    display: block;
}

.header__menu li{
    width: 100%;
    background-color: var(--colorGrisOscuro);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: solid 2px white;
}


/* Tablet */
@media (min-width: 460px){ /*cuando supera los 460 cambia la pagina */
    /* Colocar siempre el mismo selector anteriormente porque sino no toma los cambios */
    

    .header__burger{
        display: none;/*hacemos desaparecer el menu hamburgesa*/
    }


    .header__menu ul{
        overflow: hidden;/*esta linea hace que se ocupe el espacio que ocupe las li por que estan con float*/
    }
    
    .header__menu li{
        width: 15.5%;
        font-size: 0.6rem;/**/
        float: left;/* que sean flotantes es que estan por encima de la pagina */
        margin-right: 1.4%;
    }

    .header__menu li:last-child{/*esto es un seudoselector, lo que hace es seleccionar el ultimo elemento del li*/
        margin-right: 0;
    }
}

/* Laptop */
@media(min-width: 768px){
    .header__menu li{
        font-size: 1rem;/*cambio el tamaño de letra en 768px */        
    }
}