header{
    width: 100%;/*la caja el header cubre todo el ancho*/
    display: flex;
    flex-direction: column;/*establecemos que se coloque todo en columan*/
    align-items: center;
}

header .header__logo{
    border-radius: 50%;
    border: solid 2px var(--colorGrisClaro);
    height: 180px;
    margin: 15px auto 30px; /*auto en los costados siempre centra*/
    width: 180px;
    margin: 30px 0;
}

.header__burger{
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorGrisOscuro);
    color: white;
    border: none;
    border-radius: 5%;
    display: block;
    margin-bottom: 30px;
}

.header__menu{
    margin: 30px 0;
    width: 100%;
}

.header__menu ul{
    display: flex;/*al hacer esto pone a todos en linea*/
    flex-direction: column;/*para que no pase lo de arriba ponemos esto*/
}

.header__menu li{
    width: 100%;
    background-color: var(--colorGrisOscuro);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: solid 2px white;
}


/* Tablet */
@media (min-width: 460px){ /*cuando supera los 460 cambia la pagina */
    /* Colocar siempre el mismo selector anteriormente porque sino no toma los cambios */
    

    .header__burger{
        display: none;/*hacemos desaparecer el menu hamburgesa*/
    }

    .header__menu ul{
        flex-direction: row;/*hacemos que se coloque de izquierda a derecha*/
        justify-content: space-between;/*ponemos que se separen colocando un espacio entre ellos*/
    }

    .header__menu li{
        font-size: 0.6rem;/**/
        width: 15.5%;/*le colocamos un ancho a cada boton */
    }
}
/* Laptop */
@media(min-width: 768px){
    .header__menu li{
        font-size: 1rem;/*cambio el tamaño de letra en 768px */        }
}